<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/asset/nav.module.css"/>
</head>
<body>
<div th:fragment="table">
        <table>
            <thead>
                <tr>

                    <th>Name</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>
        
        
                </tr>
            </thead>
            <tbody>
               
                <tr th:each="use : ${user}">
                    <td th:text="${use.userName}"></td>
                    <td th:text="${use.role}">Hello</td>
                    <td><a th:href="@{/updateForm(name=${use.userName})}">Edit</a></td>
                    <td><a th:href="@{/delete(id=${use.userName})}">Delete</a></td>

    
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>